<style>
  .temp {margin-bottom : 10px}
</style>

<div class="text-center">
  <h1>신이 나를 만들 때</h1>
  <!--<form action="/home/result">-->

  <form action="/dmdkdkdk">
    <p>이름을 입력해주세요</p>
    <input type="text" class="temp" name="username"><br>
    <input type="submit" value="Submit">
  </form>
</div>