<div class="text-center">
  <h1>결과입니다.</h1>
  <p>신이 <%= @name %>을(를) 만들 때</p>
  <% @result.each_with_index do |r, index| %>
      <% if index != 2 %>
          <p><%= r %> <%= @spoons[index] %> 스푼 </p>
      <% else %>
          <p><%= r %> 와아아아아아아앙 </p>
      <% end %>
  <% end %>
</div>